{% extends 'base.html' %}
{% block content %}

    <div id="zatemnenie">
        <div id="okno">
            <b>Новая задача</b>
                <hr>
    <form action="{% url 'add_task' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
     <button type="submit">Добавить задачу</button>
        </form>
        </div>
</div>
 <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('zatemnenie').style.display = 'block';
        });
    </script>
{% endblock %}
